<!DOCTYPE html>
<html>
    <head>
        <title>Video Game Database</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="game icon"></i>Video Game Database</div>
                <a href="/" class="item">Home</a>
                <a href="/game" class="item">Games</a>
                <a href="/genre" class="item">Genres</a>
                <a href="/review" class="item">Reviews</a>
                <a href="/publisher " class="item">Publishers</a>
                <a href="/platform" class="item">Platforms</a>
            </div>
        </div>
        