<% include partials/header %>

<h2>Welcome the Video Game Database </h2>

<div id="container">
    <form class="ui form" action="/search" method="GET">
        <div class="field">
            <input type="text" name="search" value="" placeholder="enter a term...">
        </div>
        <input class="ui green med button" value="Search" type="submit">
    </form>
</div>

<% include partials/footer %>

