<% include partials/header %>

    <div class="ui main text container segment">
           <div class="ui huge header">Add Publisher
        </div>
        <form class="ui form" action="/addPublisher" method="POST">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name" required>
            </div>
            <div class="field">
                <label>Location</label>
                <input type="text" name="location" required>
            </div>
            <div class="field">
                <label>Year Established</label>
                <input type="date" name="yearEstab" required>
            </div>
            <input class="ui red med basic button" type="submit">
        </form>
        <form class="ui form" action="/publisher">
            <input class="ui blue med  button" value="Cancel" type="submit">
        </form>
    </div>

<% include partials/footer %>

